<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>698193699417-v0n4ughjq7ob7mv5nedd2ipshfn9crpr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698193699417-v0n4ughjq7ob7mv5nedd2ipshfn9crpr</string>
	<key>API_KEY</key>
	<string>AIzaSyAq_sEAc4iuxINE14PT74tktBA0Nw41YQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>698193699417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jang.Myren</string>
	<key>PROJECT_ID</key>
	<string>myren-4fdaf</string>
	<key>STORAGE_BUCKET</key>
	<string>myren-4fdaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698193699417:ios:199e2c2546bafbf423c748</string>
	<key>DATABASE_URL</key>
	<string>https://myren-4fdaf-default-rtdb.firebaseio.com</string>
</dict>
</plist>